# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
/bin/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin
rt_viewer-main/bin/imgui.ini
rt_viewer-main/bin/rt_viewer
rt_viewer-main/build/cmake_install.cmake
rt_viewer-main/build/CMakeCache.txt
rt_viewer-main/build/CMakeFiles/3.27.4/CMakeCCompiler.cmake
rt_viewer-main/build/CMakeFiles/3.27.4/CMakeCXXCompiler.cmake
rt_viewer-main/build/CMakeFiles/3.27.4/CMakeSystem.cmake
rt_viewer-main/build/CMakeFiles/3.27.4/CompilerIdC/CMakeCCompilerId.c
rt_viewer-main/build/CMakeFiles/3.27.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
rt_viewer-main/build/CMakeFiles/cmake.check_cache
rt_viewer-main/build/CMakeFiles/CMakeConfigureLog.yaml
rt_viewer-main/build/CMakeFiles/CMakeDirectoryInformation.cmake
rt_viewer-main/build/CMakeFiles/Makefile.cmake
rt_viewer-main/build/CMakeFiles/Makefile2
rt_viewer-main/build/CMakeFiles/progress.marks
rt_viewer-main/build/CMakeFiles/rt_viewer.dir/build.make
rt_viewer-main/build/CMakeFiles/rt_viewer.dir/cmake_clean.cmake
rt_viewer-main/build/CMakeFiles/rt_viewer.dir/compiler_depend.internal
rt_viewer-main/build/CMakeFiles/rt_viewer.dir/compiler_depend.make
rt_viewer-main/build/CMakeFiles/rt_viewer.dir/compiler_depend.ts
rt_viewer-main/build/CMakeFiles/rt_viewer.dir/depend.make
rt_viewer-main/build/CMakeFiles/rt_viewer.dir/DependInfo.cmake
rt_viewer-main/build/CMakeFiles/rt_viewer.dir/flags.make
rt_viewer-main/build/CMakeFiles/rt_viewer.dir/link.txt
rt_viewer-main/build/CMakeFiles/rt_viewer.dir/progress.make
rt_viewer-main/build/CMakeFiles/TargetDirectories.txt
rt_viewer-main/build/glfw/cmake_install.cmake
rt_viewer-main/build/glfw/CMakeFiles/CMakeDirectoryInformation.cmake
rt_viewer-main/build/glfw/CMakeFiles/progress.marks
rt_viewer-main/build/glfw/Makefile
rt_viewer-main/build/glfw/src/cmake_install.cmake
rt_viewer-main/build/glfw/src/CMakeFiles/CMakeDirectoryInformation.cmake
rt_viewer-main/build/glfw/src/CMakeFiles/glfw.dir/build.make
rt_viewer-main/build/glfw/src/CMakeFiles/glfw.dir/cmake_clean.cmake
rt_viewer-main/build/glfw/src/CMakeFiles/glfw.dir/cmake_clean_target.cmake
rt_viewer-main/build/glfw/src/CMakeFiles/glfw.dir/compiler_depend.internal
rt_viewer-main/build/glfw/src/CMakeFiles/glfw.dir/compiler_depend.make
rt_viewer-main/build/glfw/src/CMakeFiles/glfw.dir/compiler_depend.ts
rt_viewer-main/build/glfw/src/CMakeFiles/glfw.dir/depend.make
rt_viewer-main/build/glfw/src/CMakeFiles/glfw.dir/DependInfo.cmake
rt_viewer-main/build/glfw/src/CMakeFiles/glfw.dir/flags.make
rt_viewer-main/build/glfw/src/CMakeFiles/glfw.dir/link.txt
rt_viewer-main/build/glfw/src/CMakeFiles/glfw.dir/progress.make
rt_viewer-main/build/glfw/src/CMakeFiles/progress.marks
rt_viewer-main/build/glfw/src/glfw3.pc
rt_viewer-main/build/glfw/src/glfw3Config.cmake
rt_viewer-main/build/glfw/src/glfw3ConfigVersion.cmake
rt_viewer-main/build/glfw/src/glfw_config.h
rt_viewer-main/build/glfw/src/Makefile
rt_viewer-main/build/install_manifest.txt
rt_viewer-main/build/Makefile
rt_viewer-main/build/rt_viewer
